@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
root: {
  /* This is where the color codes in the project are kept */
  --white: #fff;
  --darkgray: #212329;
  --black: #000000;
  --black2: #2B2828;


  /* NOTE: PROJECT NOTES AND TODO
  TODO: REDESIGN text
  TODO: MOBILE menu NOTE: ADD THE X
  TODO: FINISH dropdown menu and design
  */
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.headertop {
  background-color: #212329;
  height: 70px;
  width: 100%;
}

.header_logo {
  justify-content: center;
  position: absolute;
  top: -70px;
  width: 300px;
  left: 5px;
}

.headertop ul {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  float: right;
}

.headertop ul li {
  display: inline-block;
  position: relative;
  padding: 0px 10px;
  line-height: 70px;
  left: -10px;
  justify-content: center;
}

.headertop ul li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Noto Sans JP', sans-serif;
  color: white;
}

.headertop ul li ul {
  background-color: #212329;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  top: 70px;
  display: block;
  width: 250px;

}

.headertop ul li ul li a {
}

.headertop ul li:hover ul {
    opacity: 1;
    visibility: visible;
  }

  .headertop ul li ul li {
  }


/* Mobile triggering */

  #mobileTrigger {
    display: none;
  }
